body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

div {
	flex: 1;
}